CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wshadow
    - -Wconversion
    - -Wno-sign-conversion
    - -Wpedantic
    - -Wformat=2
    - -Wnull-dereference
    - -Wdouble-promotion
    - -Wimplicit-fallthrough
    - -Wvla
    - -DLOCAL
    - -std=gnu17
